.venv/
.git/
.github/

__pycache__/
*.pyc
*.pyo
*.pyd
.ipynb_checkpoints/

.DS_Store

data/
notebooks/
docs/
tests/

mlflow.db
mlruns/
mlartifacts/

reports/monitoring/
reports/evaluation/metrics.json
reports/evaluation/mlflow_run.json
reports/evaluation/project_validation.json

.dvc/cache/