.venv/
__pycache__/
*.pyc
.ipynb_checkpoints/

.env
.DS_Store

data/raw/
data/processed/
data/simulated/

reports/monitoring/
reports/evaluation/*.html
reports/evaluation/*.csv
mlruns/
models/

.dvc/tmp/